@import "styles/variables";

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;

  input {
    opacity: 0;
    width: 0;
    height: 0;    

    &:checked + .switch__slider {
      background-color: #7CC954;
    }
    
    &:focus + .switch__slider {
      box-shadow: 0 0 1px #7CC954;
    }

    &:checked + .switch__slider:before {
      transform: translateX(19px);
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    
    &:before {
      position: absolute;
      content: "";
      height: 28px;
      width: 28px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
  
}