// Fonts
$font-regular: 'Lato-Regular', sans-serif;
$font-bold: 'Lato-Bold', sans-serif;

// Colors

$acian2: #6F7DFF; 
$gray1: #494F66;
$gray2: #676F8F;
$gray3: #A3ABCC;
$gray4: #C5CBE0;
$gray5: #E4E8F7;


$bg: #E4E8F7; 

$red: #EF3340; 

// Breakpoints
$breakpoints: (
  sx: 0px,
  sm: 768px,
  md: 1120px,
  lg: 1600px
);


$sidebar-w: 264px;
$padding-top: 52px;
