@import "styles/variables";

.wrapper-content {
  background: linear-gradient(90deg, #f7f8fc 49%, rgba(255, 255, 255, 1) 50%);
}

$sidebar-w: 264px;
$padding-top: 52px;

.sidebar {
  min-height: 100vh;
  width: $sidebar-w;
  padding-top: $padding-top;
  &__menu {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    &::before {
      content: "";
      height: 44px;
      position: absolute;
      bottom: -44px;
      width: 1px;
      left: 11.5px;
      border-left: 1px solid #c5cbe0;
      border-left-style: dashed;
      border-left-width: thin;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      border: 1px solid #c5cbe0;
      border-radius: 100%;
      font-size: 12px;
      color: $gray4;
    }
    a {
      text-decoration: none;
      color: $gray3;
    }

    &:last-child {
      span {
        background-color: $acian2;
        color: white;
        font-weight: 700;
        border-color: $acian2;
      }
      a {
        color: $gray1;
      }

      &:before {
        display: none;
      }
    }
  }
}

.content {
  width: calc(100% - #{$sidebar-w});
  background-color: white;
  height: 100%;
  min-height: 100vh;
  padding-top: $padding-top;
  padding: $padding-top 96px;
}
