@import "styles/variables";
@import "styles/breakpoints";


.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  &__image {
    width: 99px;
  }

  &__phone {
    width: max-content;
    display: flex;
    justify-content: flex-end;
    
    @include breakpoint-up(md) {
      width: 50%;
    }

    span {
      color: $gray2;
    }
    
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-left: 8px;
      color: $acian2;
      font-size: 14px;
    }

    img {
      margin-right: 4px;
      width: 13px;
    }
  }
}